window.env = {
  SERVER_URL: "$SERVER_URL",
  INSTANCE_NAME: "$INSTANCE_NAME",
  INSTANCE_SUBNAME: "$INSTANCE_SUBNAME",
  DISABLE_SUBNAME: $DISABLE_SUBNAME,
  DISABLE_RADIO: $DISABLE_RADIO,
  DISABLE_PODCAST: $DISABLE_PODCAST,
}
